################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/eWolfAnalyser
/eWolfCodeAnalyser/eWolfCodeAnalyser/obj
/eWolfCodeAnalyser/eWolfCodeAnalyser.Test/obj
/eWolfCodeAnalyser/eWolfCodeAnalyser.Vsix/obj/Debug
